dm_tree
gpt_utils
gymnasium
tensorboardX
ccxt
ta
ray[rllib]==2.46.1 
torch  
pandas  
numpy  
python-dotenv  
mplfinance
dash
plotly
scikit-learn
python-dateutil

#macos
fastparquet
pyarrow
kaleido
gymnasium